@import 'font-faces'
@import 'mixins'

.reveal
  +base-font($font: 'Arial', $weight: 200, $size: 34px)

  .stretch-middle
    display: table-cell
    vertical-align: middle

  .full-table
    th
      text-align: center
    td
      padding: 0
      margin: 0
      &:first-child
        padding-right: 1rem
      &:last-child
        border-left: solid 3px #ccc
        padding-left: 1rem
      pre
        width: 100%
        font-size: 20px

  pre
    margin: 0
    width: 100%
    font-size: 26px
    box-shadow: none

  .middle
    width: 70%
    margin-left: 15%

  // Slide specifics

  section.how_we_do_it
    pre
      font-size: 24px

  section.spy-full
    pre
      font-size: 6px
    code
      overflow-x: hidden

  section.stepdown-rule
    p,
    blockquote
      text-align: left
      box-shadow: none

  section.spy-summary
    pre
      font-size: 20px
