|
  makeRed =
    init: ->
      @$el = $('#some_element')
      @clickHandler()

    clickHandler: ->
      @$el.on 'click', =>
        @$el.css('color', 'red')

  window.project.makeRed = makeRed



  # in our view
  $ -> window.project.makeRed()
