script src="lib/js/head.min.js"
script src="js/reveal.min.js"
javascript:
  Reveal.initialize({
    width: 800,
    height: 600,
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: 'solarized', // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

    dependencies: [
      { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      /* /!/ { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } } */
      /* /!/ { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } } */
    ]
  });
